.container{
    width: 100vw;
    min-height: 100vh;
    padding: 2rem 0 2rem 0;
    display: flex;
    justify-content: center;
    color: #4e4141;
    background-image: url(../background.jpg);
    font-family: 'Tinos', serif;
  }
  
  .payment{
    border-top: 1px solid #f3f3f3;
    border-left: 1px solid #f3f3f3;
    height: fit-content;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 6px 6px 6px;
  }
  
  .payment__method{
    border-bottom: 1px solid #f3f3f3;
    padding: 0.7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .payment_method_title{
    flex-grow: 1;
    font-weight: 600;
  }
  
  .payment_method_data{
    flex-grow: 6;
  }
  
  .payment__method--button{
    width: 1rem;
    flex-grow: 0;
  }
  
  .payment_methoddata_items{
    width: 100%;
    display: flex;
  }
  
  .payment_methoddata_items li{
    padding-left: 1rem;
    color: rgb(92, 91, 91);
    text-decoration: none;
  }
  
  .payment_methoddata_items li a{
    padding-right: 1rem;
    text-decoration: inherit;
    color: inherit;
  
  }
  
  .payment_method_data ul li:nth-of-type(2){
    font-weight: bold;
    color: rgb(20, 20, 20);
  }
  
  .data_items_li::after{
    color: rgb(92, 91, 91);
    font-weight: normal;
    content: "  /";
  }
  
  .payment__detail{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .payment_detail_payment{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.5rem 2rem 0.5rem;
    /* border: 1px solid black; */
  }
  
  .payment_detailpayment_head{
    font-size: 0.9rem;
    color: #8f8487;
    font-weight: bold;
    padding-bottom: 0.4rem;
    margin-bottom: 0.5rem;
    margin-top: 0.7rem;
    border-bottom: 1px solid #e8e8e8;
  }
  
  .payment_detailpayment_allCards{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .payment_detailpaymentallCards_eachcard{
    padding: 0.5rem;
    margin: 0 0.5rem 0 0.5rem;
    display: flex;
    flex-direction: column;
    /* border:solid red; */
    border: 1px solid rgb(255, 255, 255);
  }
  
  .payment_detailpaymentallCards_eachcard img{
    width: 100%;
    margin-bottom: 0.2rem;
  }
  
  .payment_detailpaymentallCards_eachcard small{
    font-size: 0.73rem;
    font-weight: 600;
    color: rgb(92, 91, 91);
    margin: 0;
  }
  
  .payment_detailpaymentallCards_eachcard:hover{
    background-color: #f7f7f7;
    border: 1px solid #e2e2e2;
  }
  
  .payment_detailpayment_form{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
  }
  
  .card__details{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card_details_input{
    width: 100%;
    padding: 0.5rem;
    font-size: 0.7rem;
    margin: 0.5rem 0 0 0;
    color: rgb(31, 29, 29);
    border: 1px solid #d4d4d4;
    border-radius: 0.22rem;
  }
  
  .input--continue{
    margin: 2rem 0 0 0;
    background-color: #22c152;
    color: white;
    border: 0;
    padding: 0.7rem;
    font-size: 0.67rem;
    border-radius: 0;
  }
  
  .expiryCvv{
    width: 100%;
   display: flex;
   justify-content: space-between; 
  }
  
  .expiryCvv input{
   width: 48.5%;
   padding: 0.5rem;
   font-size: x-small;
   margin: 0.5rem 0 0 0;
   border: 1px solid #d4d4d4;
  border-radius: 0.22rem;
  }
  
  /* Right Side order details */
  .payment_detail_cart{
    padding: 0.5rem;
    background-color: rgba(238, 236, 236, 0.562);
    display: flex;
    flex-direction: column;
  }
  
  .orderPlaced{
    border-bottom: 1px solid #d6d6d6;
    display: flex;
    padding: 0.5rem 0;
  }
  
  .--last{
    padding-bottom: 4rem;
  }
  
  .orderPlaced__imgDiv{
    width: 4.5rem;
    height: 3.7rem;
    padding: 0.5rem;
    background-color: #d6d6d6;
    overflow: hidden;
  }
  
  .orderPlaced__imgDiv img{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .orderPlaced__detail{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 0.5rem;
  }
  
  .orderPlaced_detail_name h1{
   font-weight: bold;
   font-size: 0.9rem;
  }
  
  .orderPlaced_detail_name small{
    font-size: 0.7rem;
    font-style: italic;
  }
  
  .orderPlaced_detail_name h2{
    font-size: 0.7rem;
    color: rgb(92, 91, 91);
    font-weight: bold;
  }
  
  .orderPlaced_detail_name h2 span{
    font-weight: 100;
  }
  
  .orderPlaced_detail_unitPrice{
    padding-top: 0.45rem;
    font-size: 0.7rem;
    font-weight: bolder;
  }
  
  .totalAmount__amount{
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    font-size: 0.8rem;
  }
  
  .--total{
    margin-top: 0.5rem;
    border-top:1px solid #d6d6d6;
    font-weight: bold;
  }
  
  /* Media Queries */
  @media screen and (min-width: 992px) {
    /* container div margin horizontal 100px */
    /* parment to cart ratio 3:2 */
  
    .payment{
      margin-left: 100px;
      margin-right: 100px;
    }
  
    .payment_detail_payment{
      flex-basis: 60%;
    }
  
    .payment_detail_cart{
      flex-basis: 40%;
    }
  
  }
  
  @media screen and (max-width:991px){
    /* container div margin horizontal 20px */
    /* parment to cart ratio 1:1 */
  
    .payment{
      margin-left: 20px;
      margin-right: 20px;
    }
    
    .payment_detail_payment{
      flex-basis: 50%;
    }
  
    .payment_detail_cart{
      flex-basis: 50%;
    }
  
  }
  
  @media screen and (max-width:767px){
    /* hide bread crumb */
    
    .payment_methoddata_items{
      display: none;
    }
  
  }
  
  @media screen and (max-width:600px){  
    /* payment and cart flex column and in reverse */
    
    .payment__detail{
      flex-direction: column;
      flex-flow: column-reverse;    
    }
  
  }
  
  @media screen and (max-width:400px){  
    /* Wallet Images must take entire width of the screen if width falls below 400px */
  
    .payment_detailpayment_allCards{
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
    
    .payment_detailpaymentallCards_eachcard{
      padding: 1.5rem;
      margin: 0 0.5rem 0 0.5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  
  }
  
  html
  {
    color:#000;
    background:#FFF
  }
  body,div,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td
  {
    margin:0;
    padding:0
  }
  ol,ul
  {
    list-style:none
  }
  h1,h2,h3,h4,h5,h6
  {
    font-size:100%;
    font-weight:normal;
    margin:0;
    padding:0;
  }
  
  #yui3-css-stamp.cssreset{display:none}
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }